blinker==1.9.0
cachetools==6.2.0
click==8.3.0
gitdb==4.0.12
gitpython==3.1.45
narwhals==2.5.0
protobuf==6.32.1
pyarrow==21.0.0
pydeck==0.9.1
smmap==5.0.2
streamlit==1.50.0
tenacity==9.1.2
toml==0.10.2
watchdog==6.0.0
